flows.json
[{"id":"2745791c.770956","type":"tab","label":"Cotação","disabled":false,"info":""},{"id":"869423f.f0afce","type":"inject","z":"2745791c.770956","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"teste","payload":"","payloadType":"date","x":170,"y":380,"wires":[["6942fe5c.fc114"]]},{"id":"6942fe5c.fc114","type":"http request","z":"2745791c.770956","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://54.233.151.12/php_app/buscajson.php","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":380,"wires":[["655cecf.f62e714"]]},{"id":"655cecf.f62e714","type":"json","z":"2745791c.770956","name":"","property":"payload","action":"","pretty":false,"x":550,"y":380,"wires":[["339f2c34.ab3604"]]},{"id":"c67d67a7.043df8","type":"mqtt in","z":"2745791c.770956","name":"","topic":"GuiCunha","qos":"2","datatype":"auto","broker":"ea6865da.97e618","nl":false,"rap":true,"rh":0,"x":180,"y":260,"wires":[["8403f777.338718"]]},{"id":"78b50db2.c3b6c4","type":"mqtt out","z":"2745791c.770956","name":"","topic":"GuiCunha","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1761f6e8.cc8569","x":920,"y":220,"wires":[]},{"id":"339f2c34.ab3604","type":"function","z":"2745791c.770956","name":"","func":"var valorbit = {  payload : msg.payload.COTACAO }\n\nvar dolares = {  payload : msg.payload.CotacaoUS }\n\n\n\nreturn [ valorbit, dolares];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":380,"wires":[["e3dc4901.a83468","78b50db2.c3b6c4"],["d2ad2c06.09952","6efeba62.144114"]]},{"id":"e3dc4901.a83468","type":"debug","z":"2745791c.770956","name":"Real","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":280,"wires":[]},{"id":"d2ad2c06.09952","type":"debug","z":"2745791c.770956","name":"Dolar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":440,"wires":[]},{"id":"cbb6db03.0f1c28","type":"mqtt in","z":"2745791c.770956","name":"","topic":"valor","qos":"2","datatype":"auto","broker":"1761f6e8.cc8569","nl":false,"rap":true,"rh":0,"x":180,"y":480,"wires":[["6147e668.e89f38"]]},{"id":"6efeba62.144114","type":"mqtt out","z":"2745791c.770956","name":"","topic":"valor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1761f6e8.cc8569","x":900,"y":500,"wires":[]},{"id":"d60521d2.ac796","type":"comment","z":"2745791c.770956","name":"","info":"","x":100,"y":560,"wires":[]},{"id":"6147e668.e89f38","type":"ui_chart","z":"2745791c.770956","name":"","group":"b7313df9.a342f","order":2,"width":0,"height":0,"label":"Bitcoin para Dolar","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":430,"y":480,"wires":[[]]},{"id":"8403f777.338718","type":"ui_chart","z":"2745791c.770956","name":"","group":"b7313df9.a342f","order":1,"width":0,"height":0,"label":"Bitcoin para Real","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":430,"y":320,"wires":[[]]},{"id":"ce722ab9.a67108","type":"ui_gauge","z":"2745791c.770956","name":"","group":"e69fe4ce.a59ee8","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"Litro(s)","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":60,"wires":[]},{"id":"490859cf.9027d8","type":"ui_led","z":"2745791c.770956","order":1,"group":"e69fe4ce.a59ee8","width":0,"height":0,"label":"Reserva","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":610,"y":180,"wires":[]},{"id":"94607f3f.ec1e5","type":"ui_chart","z":"2745791c.770956","name":"","group":"50bc9b9b.c4e534","order":2,"width":0,"height":0,"label":"Consumo","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":560,"y":20,"wires":[[]]},{"id":"18bb75c4.d36a8a","type":"mqtt in","z":"2745791c.770956","name":"","topic":"Tanque","qos":"2","datatype":"auto","broker":"ea6865da.97e618","nl":false,"rap":true,"rh":0,"x":250,"y":120,"wires":[["94607f3f.ec1e5","ce722ab9.a67108","7d13e02e.87b44","fda5515b.81a17"]]},{"id":"7d13e02e.87b44","type":"debug","z":"2745791c.770956","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":120,"wires":[]},{"id":"fda5515b.81a17","type":"function","z":"2745791c.770956","name":"","func":"var nivel = parseInt(msg.payload);\n\nif (nivel < 8){\n    msg.payload = 1;\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":200,"wires":[["490859cf.9027d8","2feb4174.fe113e"]]},{"id":"2feb4174.fe113e","type":"debug","z":"2745791c.770956","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":240,"wires":[]},{"id":"51bb9c0d.e52e34","type":"inject","z":"2745791c.770956","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":790,"y":40,"wires":[["bcf64276.92298"]]},{"id":"9ab8146e.43d008","type":"inject","z":"2745791c.770956","name":"","props":[{"p":"payload"}],"repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":790,"y":100,"wires":[["bcf64276.92298"]]},{"id":"e655ee5a.c5b14","type":"inject","z":"2745791c.770956","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":790,"y":160,"wires":[["bcf64276.92298"]]},{"id":"bcf64276.92298","type":"mqtt out","z":"2745791c.770956","name":"","topic":"Tanque","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ea6865da.97e618","x":1060,"y":80,"wires":[]},{"id":"ea6865da.97e618","type":"mqtt-broker","name":"MQTTGuilherme ","broker":"18.116.38.84","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1761f6e8.cc8569","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b7313df9.a342f","type":"ui_group","name":"cotação em 30 segundos","tab":"2d05b428.07394c","order":1,"disp":true,"width":"6","collapse":false},{"id":"e69fe4ce.a59ee8","type":"ui_group","name":"Nível","tab":"4d9e321e.7d70ac","order":2,"disp":true,"width":"6","collapse":false},{"id":"50bc9b9b.c4e534","type":"ui_group","name":"Consumo","tab":"4d9e321e.7d70ac","order":2,"disp":true,"width":"6","collapse":false},{"id":"2d05b428.07394c","type":"ui_tab","name":"Cripto","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"4d9e321e.7d70ac","type":"ui_tab","name":"Tanque ","icon":"dashboard","order":1,"disabled":false,"hidden":false}]